<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.baizhi.dao.ArticleMapper" >
  <resultMap id="BaseResultMap" type="com.baizhi.entity.Article" >
    <id column="article_id" property="articleId" jdbcType="VARCHAR" />
    <result column="title" property="title" jdbcType="VARCHAR" />
    <result column="publish_date" property="publishDate" jdbcType="DATE" />
    <result column="author" property="author" jdbcType="VARCHAR" />
    <result column="content" property="content" jdbcType="VARCHAR" />
    <result column="master_id" property="masterId" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    article_id, title, publish_date, author, content, master_id
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from c_article
    where article_id = #{articleId,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from c_article
    where article_id = #{articleId,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.baizhi.entity.Article" >
    insert into c_article (article_id, title, publish_date, 
      author, content, master_id
      )
    values (#{articleId,jdbcType=VARCHAR}, #{title,jdbcType=VARCHAR}, #{publishDate,jdbcType=DATE}, 
      #{author,jdbcType=VARCHAR}, #{content,jdbcType=VARCHAR}, #{masterId,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.baizhi.entity.Article" >
    insert into c_article
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="articleId != null" >
        article_id,
      </if>
      <if test="title != null" >
        title,
      </if>
      <if test="publishDate != null" >
        publish_date,
      </if>
      <if test="author != null" >
        author,
      </if>
      <if test="content != null" >
        content,
      </if>
      <if test="masterId != null" >
        master_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="articleId != null" >
        #{articleId,jdbcType=VARCHAR},
      </if>
      <if test="title != null" >
        #{title,jdbcType=VARCHAR},
      </if>
      <if test="publishDate != null" >
        #{publishDate,jdbcType=DATE},
      </if>
      <if test="author != null" >
        #{author,jdbcType=VARCHAR},
      </if>
      <if test="content != null" >
        #{content,jdbcType=VARCHAR},
      </if>
      <if test="masterId != null" >
        #{masterId,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.baizhi.entity.Article" >
    update c_article
    <set >
      <if test="title != null" >
        title = #{title,jdbcType=VARCHAR},
      </if>
      <if test="publishDate != null" >
        publish_date = #{publishDate,jdbcType=DATE},
      </if>
      <if test="author != null" >
        author = #{author,jdbcType=VARCHAR},
      </if>
      <if test="content != null" >
        content = #{content,jdbcType=VARCHAR},
      </if>
      <if test="masterId != null" >
        master_id = #{masterId,jdbcType=VARCHAR},
      </if>
    </set>
    where article_id = #{articleId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.baizhi.entity.Article" >
    update c_article
    set title = #{title,jdbcType=VARCHAR},
      publish_date = #{publishDate,jdbcType=DATE},
      author = #{author,jdbcType=VARCHAR},
      content = #{content,jdbcType=VARCHAR},
      master_id = #{masterId,jdbcType=VARCHAR}
    where article_id = #{articleId,jdbcType=VARCHAR}
  </update>
</mapper>